<html>
    <head>
        <title>Jose's blog</title>
    </head>
    <body>
        <p>Hi there!</p>
        <p>It works!</p>
        <h1>TÍTULO IMPORTANTE</h1>
        <h2>Welcome to Jose's Blog</h2>
        <h3>Todo bien?</h3> 
        <!-- <h6> -->
        <p>El <strong>Fútbol Club Barcelona</strong> (en catalán, <em>Futbol Club Barcelona</em>), conocido popularmente como Barça,es una entidad polideportiva con sede en Barcelona, España. Fue fundado como club de fútbol el 29 de noviembre de 1899 y registrado oficialmente el 5 de enero de 1903. Es uno de los cuatro clubes profesionales de España junto a: <ul><li>Real Madrid Club de Fútbol</li><li>Athletic Club</li><li>Club Atlético Osasuna</li></ul>Que no es sociedad anónima deportiva (S. A. D.), de manera que la propiedad del club recae en sus socios.</p>
        <!--<em>texto</em> - pone en cursiva tu texto-->
        <!--<strong>texto</strong> - pone en negrita tu texto-->
        <!--<br> va en otra línea (no puedes poner nada dentro de br y no hay etiqueta de cierre)-->
        <a href="http://www.fcbarcelona.es">Sitio web oficial</a>
        <!--<ul><li>primer elemento</li><li>segundo elemento</li></ul> - crea una lista, ¡igual que esta!-->
        <div></div> OTRA SECCIÓN DE LA PÁGINA
    </body>
</html>